In [1]:
import torch

# 创建一个张量
x = torch.tensor([1, 2, 3])

# 重复这个张量
# repeat_dims 是一个元组，表示每个维度上重复的次数
repeat_dims = (2, 3)  # 表示在第0维（行）重复2次，在第1维（列）重复3次
y = x.tile(2, 3)

In [2]:
y.shape

torch.Size([2, 9])

In [3]:
y

tensor([[1, 2, 3, 1, 2, 3, 1, 2, 3],
        [1, 2, 3, 1, 2, 3, 1, 2, 3]])

In [3]:
x.shape

torch.Size([3])

In [4]:
y.shape

torch.Size([1, 9])

In [4]:
torch.repeat_interleave(y, 2, dim=1)

tensor([[1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 3, 3],
        [1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 3, 3, 1, 1, 2, 2, 3, 3]])

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/dev/shm/chaofeng/tiny_k400/tiny-kinetics-400/annotations/tiny_train.csv')

In [3]:
df

                   label   youtube_id  time_start  time_end  split  is_cc
0              abseiling  _4YTwq0-73Y          44        54  train      0
1           air drumming  _axE99QAhe8          26        36  train      0
2    answering questions  _5W9Fxl_dFE         186       196  train      0
3             applauding  _LHpfh0rXjk          12        22  train      0
4         applying cream  _-mM9e_yGog          67        77  train      0
..                   ...          ...         ...       ...    ...    ...
395            wrestling  _UD2y2sBggc          26        36  train      0
396              writing  _FB-ZsEaM8I         240       250  train      0
397              yawning  _EJKz9eabr8           2        12  train      0
398                 yoga  _efndh2U3Ng          26        36  train      0
399                zumba  _27IlPGsINY          26        36  train      0

[400 rows x 6 columns]

In [1]:
import numpy as np

In [4]:
np.random.randint(0, 10)

1

In [1]:
import pandas as pd

In [7]:
t = pd.read_csv('/dev/shm/chaofeng/tiny_k400/tiny-kinetics-400/annotations/tiny_train.csv')

In [4]:
t['label'].nunique()

400

In [6]:
v = pd.read_csv('/dev/shm/chaofeng/tiny_k400/tiny-kinetics-400/annotations/tiny_val.csv')

In [8]:
v

                   label   youtube_id  time_start  time_end split  is_cc
0              abseiling  -3B32lodo2M          59        69   val      0
1           air drumming  _dbcJuKJQNs          40        50   val      0
2    answering questions  _5PV4fkZisA         139       149   val      0
3             applauding  0Tq8uFakTbk           0        10   val      0
4         applying cream  -PBcrI7pXUM          24        34   val      0
..                   ...          ...         ...       ...   ...    ...
395            wrestling  _UE4zEIVk80          41        51   val      0
396              writing  _b8GOY--jcM          55        65   val      0
397              yawning  _fAPaM5B7bE          21        31   val      0
398                 yoga  _-aBlJFi7LY           7        17   val      0
399                zumba  _6VIemu6cZQ          47        57   val      0

[400 rows x 6 columns]

In [10]:
[i for i in t['youtube_id'] if i in v['youtube_id']]

[]